<!DOCTYPE html>
<html>
    <head>
    {% block analitic %}
           <!-- Piwik -->
        <!--script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//stats1.upr.edu.cu/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 15]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><p><img src="//stats1.upr.edu.cu/piwik.php?idsite=16" style="border:0;" alt="" /></p></noscript-->
        <!-- End Piwik Code -->

    {% endblock%}

        <meta charset="UTF-8" />
        <title>{% block title %}Contabilidad UPR!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('bootstrap/fonts/glyphicons-halflings-regular.eot') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('bootstrap/fonts/glyphicons-halflings-regular.svg') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('bootstrap/fonts/glyphicons-halflings-regular.ttf') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('bootstrap/fonts/glyphicons-halflings-regular.woff') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('bootstrap/fonts/glyphicons-halflings-regular.woff2') }}" />
        
        <link rel="stylesheet" href="{{asset('bootstrap/css/bug-workaround.css')}}" type="text/css" />
        <link rel="stylesheet" href="{{asset('bootstrap/css/justified-nav.css')}}" type="text/css" />
        <link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.css')}}" type="text/css" />
        
        <link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.min.css')}}" type="text/css" />
        <link rel="stylesheet" href="{{asset('bootstrap/css/sortable-theme-bootstrap.css')}}" type="text/css" />
        <link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap-theme.css')}}" type="text/css" />
        <link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap-theme.min.css')}}" type="text/css" />
        <link rel="stylesheet" href="{{asset('css/select2.css')}}" type="text/css" />
        <link rel="stylesheet" href="{{asset('css/custom_contable.css')}}" type="text/css" />

         <link rel="stylesheet" href="{{asset('upr/bootstrap-gantry.css')}}" type="text/css" />


        <!--script type='text/javascript' src='http://contable.lo/app_dev.php/' ></script-->
        <script src="{{asset('bootstrap/js/emulation-modems-warning.js') }}"></script>
        <script src="{{asset('bootstrap/js/ie10-viewport-bug-workaround.js') }}"></script>
        <script src="{{asset('bootstrap/js/sortable.min.js')}}"></script> 

        <script src="{{asset('bootstrap/js/jquery.js') }}"></script>
        <script src="{{asset('bootstrap/js/jquery.min.js') }}"></script>
        <script src="{{asset('bootstrap/js/bootstrap.js')}}"></script>
        <script src="{{asset('bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('js/select2.full.min.js')}}"></script>  

        <script src="{{asset('bootstrap/js/custom_contable.js')}}"></script>  
        
        
    </head>
    <body>
            <div class="container" style="width:95%">

              <!-- The justified navigation menu is meant for single line per list item.
                   Multiple lines will require custom code not provided by Bootstrap. -->
              {% block menu %}
                  
              {% endblock %}


              <!-- Jumbotron -->
              {% block banner %}
                
              {% endblock %}
              

              <!-- Example row of columns -->
              {% block body %}
              
              {% endblock %}

              <!-- Site footer -->
              

             <!-- /container -->
        

            {% block javascripts %}
                
            {% endblock %}

            {% block footer %}                      
            {% endblock%}
        </div>
    </body>
</html>
