{% extends 'base.html.twig' %}

{% block body %}

    <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{asset('css/AdminLTE.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{asset('css/select2.css')}}" type="text/css" />


    <h1>Area creation</h1>
    <form onchange="metodoGet()" action="#" method="post" id="combo">
        <select name="lol" id="area_choice" class="form-control select2">
        </select>   

        
    </form>  
      
    
<div class="dataTable_wrapper">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>númeroSerie</th>                    
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" id="contenidoTabla">                    
                </tr> 
            </tbody>
        </table>
</div>



    <script src="{{ asset('js/jquery.1.11.1.js') }}"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/select2.full.min.js')}}"></script>
    
    <script>
        //Initialize Select2 Elements
        $(".select2").select2();

        function metodoGet(){
            $("#info").html(" ");
            var p=$('#combo').find("option").attr('id');
            p= p.split("/");
            p= p[2].split("%",1);       
            p=p.toString().replace(/^\s+|\s+$/gm,'');

            var data;
            var aux;  
            var cantItem;
            $.getJSON('http://apiassets.upr.edu.cu/activo_fijos', function (data) {
                     var cantItem = data['hydra:lastPage'];
                     cantItem= cantItem.split("=");                                          
                     cantItem= cantItem[cantItem.length-1];
          
                      
            for(var i=1;i<cantItem;i++)
            {              
               
                $.ajax({
                  url: 'http://apiassets.upr.edu.cu/activo_fijos?page='+i,
                  dataType: 'json',
                  async: false,                  
                  success: function(data) {
                   var res = data['hydra:member'];                   
                   for(var j=1;j<res.length;j++)
                    {                          
                          
                        if(((res[j].idCcosto.replace(/^\s+|\s+$/gm,'')) == p)&& ((res[j].cnmb.replace(/^\s+|\s+$/gm,'')) == "580")&& res[j].activo == true)
                        {                           
                         //  alert("entro") ;
                            $("#contenidoTabla").append('<td >' + res[j].descActivofijo + '</td>'); 
                            $("#contenidoTabla").append('<td >' + res[j].numeroSerie + '</td>'); 
                        }
                     }
                  }
                });

              
            }
            }); 
                     
            
        }
    </script>


    <script>
        var array=[];
        $(function () {
             
            var data;
            for(var i=1;i<5;i++)
            {
            $.getJSON('http://apiassets.upr.edu.cu/centro_costos?page='+i, function (data) {
               
                var res = data['hydra:member'];

                for (var i = 0; i < res.length; i++) {
                     $('#area_choice').append('<option class='+res[i].descCcosto +'id='+res[i]["@id"] +'  value='+ res[i].descCcosto+  ' >' + res[i].descCcosto + '</option>');  
                }

               });               
            }

        });
    </script>
{% endblock %}
