{%set activo=0%}
{%set disponibles=0%}
{% for x in json %}
    {%if x.activo == '1'%}
        {%set activo = activo+1%}
    {%endif%}  

    {%if x.disponible == '1'%}
        {%set disponibles = disponibles+1%}
    {%endif%} 
{%endfor%} 



{#
{{ldap[0]["employeeid"][0]}}
#}


<div class="row">
  <div class="col-lg-11">
      <p class="imprimir" onclick="imprSelec('result')">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                                        Imprimir
      </p>                                    
  </div>
      <div class="col-lg-4">
            <div class="form-group">                            
                <h3>Existen <span id="cantidad_activos">{{json|length}}</span> activos fijos relacionado</h3>
            </div>
       </div>
       
           <div class="col-lg-4" style="float:right">
                <div class="form-group">                            
                    <h3>Existen <span id="cantidad_activos">{{activo}}</span> activo fijo Activos</h3>
                </div>
           </div>           
       
 </div>           

        
    <div class="table-responsive" id="result">   
            <table id="dataTables-example" align="center" class="table table-bordered data-sortable" data-sortable>
                        <thead class="thead-inverse">
                            <tr>
                                <th><span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                    Descripción
                                </th>
                                <th><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                                Inventario</th>
                                <th><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                Responsable</th>                              
                                <th><span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                                Área de Responsabilidad</th>
                                <th><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                Tipo de activo</th>
                                <th><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                Alta</th>
                                <th><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                Activo</th>
                                <th><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                Disponible</th>
				<th><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                                Valor Actual</th>
                            </tr>
                        </thead>
                        <tbody>
                        {%for x in json%}

                            <tr class="odd gradeX" id="resultado">                         

                                <td width="30%">{{x.descActivofijo | trim}}</td>
                                <td>{{x.idRotulo}}</td>  
                                <td>{{x.idEmpleado}}</td> 
                                <td>
                                    {{x.idArearesp}}</td>

                                <td>{{x.cnmb}}</td>
                                <td>{{x.fechaAlta | date('d-m-Y')}}</td>

                                <td>
                                    {%if x.activo == '1'%}
                                        {{"Si"}}
                                    {%else%}
                                        {{"No"}}
                                    {%endif%}    
                                </td>
                                <td>
                                    {%if x.disponible == '1'%}
                                        {{"Si"}}
                                    {%else%}
                                        {{"No"}}
                                    {%endif%} 
                                    
                                </td>
				<td>
					${{x.valorInicial - x.depreciacionAcumulada}}.00
				</td>
                            </tr> 
                            {%endfor%}
                        </tbody>
            </table>

                    <!--button  onclick="Paginado()" type="button" value="1" id="pag">Siguente ></button-->
         </div>   


<!-- modal-->
<div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="titulo">texto</h3>
           </div>
           <div class="modal-body">
              <h4 class="titulo">Texto de la ventana</h4>
              Mas texto en la ventana.    
       </div>
           <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
           </div>
      </div>
   </div>
</div>


<script type="text/javascript">
    function imprSelec(result)
    {
        var ficha=document.getElementById(result);
        var ventimp=window.open('','popimpr');
            ventimp.document.write(ficha.innerHTML);
            ventimp.document.close();
            ventimp.print();
            ventimp.close();
    }
</script>
